In [6]:
import pandas as pd
import numpy as np

In [7]:
data = {
    'Company': ['Acme Corp', 'Beta Inc', 'Gamma LLC', 'Delta Ltd', 'Epsilon GmbH'],
    'Revenue': [5000000, 20000000, 12000000, 4000000, 25000000],  # in dollars
    'Industry': ['Tech', 'Finance', 'Health', 'Retail', 'Tech'],
    'Has_Email': [True, True, False, True, False],
    'Has_Phone': [False, True, True, False, True]
}

df = pd.DataFrame(data)
df

        Company   Revenue Industry  Has_Email  Has_Phone
0     Acme Corp   5000000     Tech       True      False
1      Beta Inc  20000000  Finance       True       True
2     Gamma LLC  12000000   Health      False       True
3     Delta Ltd   4000000   Retail       True      False
4  Epsilon GmbH  25000000     Tech      False       True

In [8]:
def score_lead(row):
    score = 0
    
    score += row['Revenue'] / 1_000_000
    
    industry_weights = {
        'Tech': 10,
        'Finance': 8,
        'Health': 6,
        'Retail': 4,
        'Other': 2
    }
    score += industry_weights.get(row['Industry'], industry_weights['Other'])
    
    # Contact availability
    score += 5 if row['Has_Email'] else 0
    score += 5 if row['Has_Phone'] else 0
    
    return score

In [9]:
df['Lead_Score'] = df.apply(score_lead, axis=1)
df_sorted = df.sort_values(by='Lead_Score', ascending=False).reset_index(drop=True)
df_sorted

        Company   Revenue Industry  Has_Email  Has_Phone  Lead_Score
0  Epsilon GmbH  25000000     Tech      False       True        40.0
1      Beta Inc  20000000  Finance       True       True        38.0
2     Gamma LLC  12000000   Health      False       True        23.0
3     Acme Corp   5000000     Tech       True      False        20.0
4     Delta Ltd   4000000   Retail       True      False        13.0